<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rifqimfahmi.alldogbreeds">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />
        <activity
            android:name=".ui.breeds.BreedActivity"
            android:label="List of Dog Breeds"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity android:name=".ui.details_breed.DetailBreedActivity" />
        <activity
            android:name=".ui.random.RandomActivity"
            android:label="Random Dog"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.meme.MemeActivity"
            android:label="Dog Meme"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:label="Guess the Breed"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity android:name=".ui.favorite.FavoriteActivity"></activity>
    </application>

</manifest>